default:
    autoload:
        'Context': %paths.base%/features
    suites:
        default:
            path: %paths.base%/features
            contexts: [Context\FeatureContext, Behat\MinkExtension\Context\MinkContext]
    extensions:
        Behat\MinkExtension\Extension:

            # You have probably somthing like "myproject.dev" instead of "localhost"
            base_url: 'http://localhost:8080/app_test.php'

            selenium2: ~
            default_session: selenium2
            javascript_session: selenium2
            show_auto: true

            # Usefull when you use the "And show last response" command
            # You can change it to `firefox %s` or maybe `google_chrome %s`
            show_cmd: chrome %s