default:
    autoload:
        'Context': %paths.base%/features
    suites:
        default:
            path: %paths.base%/features
            contexts:
                - Context\FeatureContext
                - Context\FixtureContext
    extensions:
        Behat\MinkExtension\ServiceContainer\MinkExtension:

            # You have probably somthing like "myproject.dev" instead of "localhost"
            base_url: 'http://localhost:8000/app_test.php'

            selenium2: ~
            goutte: ~
            default_session: goutte
            javascript_session: selenium2
            show_auto: true

            # Usefull when you use the "And show last response" command
            # You can change it to `firefox %s` or maybe `google_chrome %s`
            show_cmd: firefox %s

        Knp\FriendlyContexts\Extension:
            smartTag: smartStep
