
{{ form_start(form) }}

<div class="form-group">
    {{ form_widget(form.search, {'attr': { 'placeholder': 'neko_wiki.search.placeholder'|trans, 'class': 'form-control input-lg' }, 'value': content } ) }}
</div>

<p class="text-center">
    <button type="submit" class="btn btn-primary btn-lg">{% trans %}neko_wiki.search.submit_search{% endtrans %}</button>
</p>

{{ form_end(form) }}

