{{ form_start(form, {'attr': { 'class': 'navbar-form navbar-left', 'role': 'search' } } ) }}

<div class="form-group">
    <div class="input-group">
        {{ form_widget(
            form.search,
            { 'attr': { 'placeholder': 'app.search.placeholder' | trans, 'id': 'searchbox', 'class': 'form-control' } }
        ) }}
        <span class="input-group-btn">

            <button class="btn btn-default" id="submit_search" type="submit"><span class="glyphicon glyphicon-search"></span></button>

        </span>
    </div>
</div>

{{ form_end(form) }}
