{% extends 'NekoWiki::page_layout.html.twig' %}

{% block body %}
    <h1>{% trans with {'%pagename%': page.title} %}app.page.crud.updating{% endtrans %}</h1>
    {{ include('NekoWiki:Page:_page_form.html.twig', {'form': form}) }}
{% endblock %}
