{% extends 'NekoWiki::layout.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-md-12">
            {{ form(form, {'action': path('register')}) }}
        </div>
    </div>
{% endblock %}
