{% extends 'NekoWiki::layout.html.twig' %}

{% block body %}
    <h1>{% trans with {'%pagename%': page.title} %}neko_wiki.page.crud.creating{% endtrans %}</h1>
    {{ include('NekoWiki:Page:_page_form.html.twig', {'form': form}) }}
{% endblock %}
